.margin-card {
    margin: 12px;
    background: #f2f2f2;
}

.toolbar {
    background-color: #0079bb;
    color: #fff;
}

.card-content {
    font-size: 20px;
}

.card-container {
    margin-top: 50%;
}

.back-class {
    position: absolute;
    left: 2%;
    top: 2%;
}