<!-- Toolbar -->
<mat-toolbar class="toolbar center-content">
    <span class="back-class">
        <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
    </span>
    <span>In Gate</span>
</mat-toolbar>

<div class="card-container">
    <mat-card class="margin-card">
        <mat-card-content class="card-content">
            <p>You have selected In-Gate window.</p>
            <p>That's it for now !! Thank you for watching this demo.</p>
        </mat-card-content>
    </mat-card>
</div>
